* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  color: #fff3cd;
  font-family: 'Jost', sans-serif;
  
}

a {
  text-decoration: none;
  color: #fff3cd;
}

.welcome h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h2, h3 {
  color: #ff926b;
}

h2 {
  font-size: 3rem;
  padding: 30px 0;
  
}

h3 {
  text-align: center;
}

img {
  width: 50%;
}

ul {
  list-style: none;
}

/* Utilities */


.chapter-core {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapter-text {
  width: 50%;
  text-align: center;
}

.bg-dark {
  background-color: #4d3e3e;
}

/* Navbar */
.navbar {
  color: #fff3cd;
  font-size: 1.2rem;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navbar h1 {
  color: #fff3cd;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 100%;
}

.navbar ul li a {
  padding: 30px;
}

.navbar a:hover {  
  color: #ff926b;
  background-color: #000;
}

/* Header */
header {
  background: url(../img/coffee-beans2.jpg) no-repeat center center/cover;
  position: relative;
  height: 100vh;
}
.overlay {
  background: rgba(46, 10, 11, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.welcome {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.welcome h1 {
  font-size: 9rem;
}

.welcome p {
  font-size: 2.5rem;
  align-self: flex-end;
}

/* Process */
.process img {
  order: 2;
}

.process .chapter-text {
  order: 1;
}

/* Menu */
.menu {
  padding-bottom: 50px;
  background-color: #333;
}

.menu h2 {
  margin-left: 40px;
  color: #000;
}

.flex-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin: 0 800px 0 30px;
  
}

.item {
  margin: 10px;
  padding: 20px;
  text-align: center;
  border: solid 2px #fff3cd;
  border-radius: 10px;
  /* background-color: #4d3e3e; */
}

.vector-img {
  height: 200px;
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  /* TEMP */
  background-color: #ff926b;;
  
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
}
